@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    background-color: v.$secundario;
    color: v.$blanco;

    &__grid{
        padding: 5rem 0;

        @include m.tablet { 
            display: grid;
            gap: 4rem;
            grid-template-columns: repeat(4,1fr);
          }
    }

    &__widget{
        margin-bottom: 2rem;
        @include m.tablet { 
            margin-bottom: 0;
          }
    }

    &__imagen{
        margin: 0 auto 5rem;
        max-width: 20rem;
    }

    &__heading{
        color: v.$primario;
        text-align: left;
    }

    &__link{
        color: v.$blanco;
        display: block;
        margin-bottom: 1rem;
    }

    &__copyrigt{
        border-top: 2px solid v.$primario;
        color: v.$blanco;
        font-size: 1.2rem;
        margin: 0 auto;
        max-width: 120rem;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
}